/*this is used to change the color, dimensions of the box you can make */
div{ 
    padding: 30px;  
    border: solid red 2px;
    margin: 10px;
    width: 120px;
    height: 150px;
    float: left;
}

#d1{
    margin: 70px;
    transform: scale (2,2);
}